h1{
padding: 15px;
text-align:center;
}
body {
font-family: Andale Mono, monospace;
background-color: #e0ffff;
margin: 0;
padding:0;
}
section {
height: 00vh;
width: 100%;
display: flex;
align-items: center;
flex-direction: column;
}
.container {
width: 90%;
max-width: 500px;
margin: 0 auto;
padding: 20px;
box-shadow: 0px 0px 20px #00000010;
background-color: white;
border-radius: 8px;
margin-bottom: 20px;
}
.form-group {
width: 100%;
margin-top: 20px;
font-size: 20px;
}
.form-group input,
.form-group textarea {
width: 100%;
padding: 5px;
font-size: 18px;
border: 1px solid rgba(128, 128, 128, 0.199);
margin-top: 5px;
}

textarea {
resize: vertical;
}
button[type="submit"] {
width: 47%;
border: none;
outline: none;
padding: 20px;
font-size: 24px;
border-radius: 8px;
font-family: Andale Mono, monospace;
background-color: #e0ffff;
text-align: center;
cursor: pointer;
margin-top: 10px;
transition: 0.3s ease background-color;
color: #0e8af6;
border: 2px solid #0e8af6;
}
button[type="submit"]:hover {
background-color: #0e8af6;
color: white;
}
#status {
width: 90%;
max-width: 500px;
text-align: center;
padding: 10px;
margin: 0 auto;
border-radius: 8px;
}
#status.success {
background-color: rgb(211, 250, 153);
animation: status 4s ease forwards;
}
#status.error {
background-color: rgb(250, 129, 92);
color: white;
animation: status 4s ease forwards;
}
@keyframes status {
0% {
opacity: 1;
pointer-events: all;
}
90% {
opacity: 1;
pointer-events: all;
}
100% {
opacity: 0;
pointer-events: none;
}
}
.button2 {
width: 38%;
display: inline-block;
padding: 20px;
text-align: center;
text-decoration: none;
color: #0e8af6;
background-color: #e0ffff;
border-radius: 8px;
font-family: Andale Mono, monospace;
margin-top: 10px;
font-size: 24px;
transition: 0.3s ease background-color;
border: 2px solid #0e8af6;
margin-right:2%;
margin-left:2%;
}
.button2:hover{
background-color: #0e8af6;
color: white;
}
::-webkit-scrollbar {width: 20px;
}
::-webkit-scrollbar-track {background-color: #e0ffff;border-radius: 2px;
}
::-webkit-scrollbar-thumb {background-color: #0e8af6;border-radius: 2px;
}
h1{
padding:30px;
font-size: 35px;
}
.header {
font-family: "Montserrat";
padding:.001% 2.7%;
background: #555;
color: #f1f1f1;
text-align:center;
}
.header1 li {
display:inline;
padding:10%;
font-size:125%;
}
.header1 a {
display:inline-block;
color: white;
text-decoration: none;
padding:.82%;
}
.header1 a:hover {
color: black;
background-color: whitesmoke;
border-radius: 12px;
padding:.82%;
}
