body{
font-family: Andale Mono, monospace;
background-color: #e0ffff;
font-size: 20px;
text-align:center;
margin:0px;
}
.button2 {
display: inline-block;
padding: 10px 20px;
text-align: center;
text-decoration: none;
color: #0e8af6;
background-color: #e0ffff;
border-radius: 12px;
border: 2px solid #0e8af6;
transition: 0.3s ease background-color;
margin-bottom:10px;
}
.button2:hover{
background-color: #0e8af6;
color: white;
}
h1{
padding:30px;
}
.img{
text-align:left;
margin-right:70%;
}
* {
box-sizing: border-box;
}

.column {
float: left;
width: 33.33%;
padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
content: "";
clear: both;
display: table;
}
p{
text-align:left;
margin-left:5%;
}
::-webkit-scrollbar {width: 20px;
}
::-webkit-scrollbar-track {background-color: #e0ffff;border-radius: 2px;
}
::-webkit-scrollbar-thumb {background-color: #0e8af6;border-radius: 2px;
}
.header {
padding:1px 16px;
background: #555;
color: #f1f1f1;
text-align:center;
font-family: "Montserrat";
}
.header1 li {
display:inline;
padding:10%;
font-size:20px;
}
.header1 a {
display:inline-block;
color: white;
text-decoration: none;
padding:10px;
}
.header1 a:hover {
color: black;
background-color: whitesmoke;
border-radius: 12px;
padding:10px;
}
